.featured[b-hw4p4k356h] {
    padding-top:80px;
    padding-bottom: 40px;
}

.featured__controls[b-hw4p4k356h]{
    text-align:center;
    margin-bottom: 50px;
}
.featured__controls ul li[b-hw4p4k356h] {
    list-style:none;
    font-size:18px;
    color:#1c1c1c;
    display: inline-block;
    margin-right:0;
    position: relative;
    left:0;
    cursor:pointer;
}
.featured__controls ul li.active[b-hw4p4k356h]:after {
    opacity: 1;
}
.featured__controls ul li[b-hw4p4k356h]:after {
    position:absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #7fad39;
    content: "";
    opacity: 0;
}
.featured__controls ul li:last-child[b-hw4p4k356h]{
    margin-right: 0;
}

.featured__item[b-hw4p4k356h] {
    margin-bottom: 50px;
}
    .featured__item:hover .featured__item__pic .featured__item__pic__hover[b-hw4p4k356h]{
        bottom: 0px;
    }
.featured__item__pic[b-hw4p4k356h] {
    height: 200px;
    position: relative;
    overflow: hidden;
    background-position: center center;
}
.featured__item__pic__hover[b-hw4p4k356h] {
    position:absolute;
    left:-40px;
    bottom: -60px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition:all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}
.featured__item__pic__hover li[b-hw4p4k356h] {
    list-style: none;
    display: inline-block;
    margin-right: 0px;
}
.featured__item__pic__hover li:last-child[b-hw4p4k356h] {
    margin-right: 0;
}
    .featured__item__pic__hover li:hover a[b-hw4p4k356h] {
        background: #7fad39;
        border-color: #7fad39;
    }
    .featured__item__pic__hover li:hover a i[b-hw4p4k356h] {
        color: #ffffff;
        transform: rotate(360deg);
    }


    .featured__item__pic__hover li a[b-hw4p4k356h] {
        font-size: 16px;
        color: #1c1c1c;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #ebebeb;
        background: #ffffff;
        display: block;
        border-radius: 50%;
        -webkit-transition: all, 0.5s;
        -moz-transition: all, 0.5s;
        -ms-transition: all, 0.5s;
        -o-transition: all, 0.5s;
        transition: all, 0.5s;
    }
        .featured__item__pic__hover li a i[b-hw4p4k356h] {
            position: relative;
            transform: rotate(0);
            -webkit-transition: all, 0.3s;
            -moz-transition: all, 0.3s;
            -ms-transition: all, 0.3s;
            -o-transition: all, 0.3s;
            transition: all, 0.3s;
        }
.featured__item__text[b-hw4p4k356h] {
    text-align: center;
    padding-top: 15px;
    margin-left: -50px;
}
.featured__item__text h6[b-hw4p4k356h] {
    margin-bottom: 10px;
}
.featured__item__text h6 a[b-hw4p4k356h] {
    color: #252525;
}
.featured__item__text h5[b-hw4p4k356h] {
    color: #252525;
    font-weight: 700;
}